pre {
    font-family: "Times New Roman", Georgia, Serif;
    
}
img{
    max-width: 50px;
    height: auto;
    border-radius: 1em;
    margin-left: 10%;
  }
  body {
    width: 1024px;
    margin: 0 auto;
  }
  
